.channelsMain {
  margin-top: 40px;
  margin-bottom: 60px;
}

.channelsMainHeader {
  left: 0;
  gap: 5px;
  right: 0;
  top: 39px;
  z-index: 10;
  display: flex;
  position: fixed;
  padding: 5px 0px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 30, 30);
}

.channelsMainHeader input {
  width: 80%;
  border: none;
  padding: 5px;
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: rgb(36, 36, 36);
}

.channelsMainHeader button {
  width: 30px;
  border: none;
  height: 30px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 22, 22);
}

.channelsSmall {
  font-size: small;
}

.plus{
  border-radius: 5px;
  background-color: rgb(59, 59, 27);
}