.channelsMain {
  margin-bottom: 60px;
}

.channelsMainHeader {
  gap: 5px;
  top: 40px;
  z-index: 10;
  display: flex;
  position: sticky;
  padding: 5px 0px;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 30, 30);
}

.channelsMainHeader input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: large;
  font-weight: bold;
  background-color: rgb(36, 36, 36);
}

.channelsMainHeader button {
  border: none;
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: larger;
  border-radius: 3px;
  background-color: black;
}

.channelsSmall {
  font-size: small;
}

.plus{
  width: 40px;
  display: flex;
  font-weight: bold;
  border-radius: 5px;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 59, 27);
}