.notifsAndChatsMain {
  margin-top: 40px;
  margin-bottom: 60px;
}

.notifsAndChatsMainHeader {
  left: 0;
  right: 0;
  top: 39px;
  height: 50px;
  position: fixed;
  max-width: 400px;
  border-radius: 10px;
}

.notifsAndChatsMainHeader button {
  width: 50%;
  border: none;
  height: 100%;
  color: gray;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.click {
  transition: 0.3s;
  background-color: black;
}

.clicked {
  transition: 0.3s;
  background-color: rgb(32, 30, 30);
}
