footer {
  bottom: 0;
  height: 50px;
  /* width: 325px; */
  display: flex;
  position: fixed;
  max-width: 330px;
  min-width: 330px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(32, 30, 30);
}

footer a {
  font-size: x-large;
}