* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  padding: 0 10px;
  display: flex;
  max-width: 400px;
  margin-top: 50px;
  align-items: center;
  background-color: black;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
