* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.app {
  max-width: 330px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}