* {
  margin: 0px;
  padding: 0px;
  color: white;
  box-sizing: border-box;
}

.homeMain {
  top: 80px;
  position: relative;
  margin: 0 0 140px 0;
}

.fiterPosts {
  left: 0;
  right: 0;
  top: 39px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 30, 30);
}

.fiterPosts div{
  border-radius: 50px;
  border: 2px solid rgb(15, 15, 15);
}

.fiterPosts div button {
  border: none;
  padding: 10px;
  background: none;
  font-weight: bold;
}

.fiterPosts div button:first-child {
  border-radius: 50px 0 0 50px;
}

.fiterPosts div button:last-child {
  border-radius: 0 50px 50px 0;
}

.fiterPosts div button:hover {
  background-color: rgb(194, 194, 43);
}

.post {
  display: flex;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgb(29, 27, 27);
}

.post small span {
  margin: 0 5px;
}

.post p {
  width: 100%;
  font-size: 110%;
  margin-bottom: 10px;
}

.postsVote {
  display: flex;
  padding: 0 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.postsVote span {
  font-size: large;
  font-weight: bold;
}

img {
  width: 100%;
}