* {
  margin: 0px;
  padding: 0px;
  color: white;
  box-sizing: border-box;
}

.homeMain {
  top: 80px;
  position: relative;
  margin: 0 0 140px 0;
}

.fiterPosts {
  left: 0;
  right: 0;
  top: 39px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 30, 30);
}

.fiterPosts div{
  border-radius: 50px;
  border: 2px solid rgb(15, 15, 15);
}

.fiterPosts div button {
  border: none;
  padding: 10px;
  background: none;
  font-weight: bold;
}

.fiterPosts div button:first-child {
  border-radius: 50px 0 0 50px;
}

.fiterPosts div button:last-child {
  border-radius: 0 50px 50px 0;
}

.fiterPosts div button:hover {
  z-index: -100;
  background-color: rgb(194, 194, 43);
}

.postsSection {
}

.post {
  margin: 15px 0;
  border-radius: 10px;  
  padding: 20px 10px 10px 10px;
  box-shadow: 0px -2px 10px white;
}

.post p {
  width: 100%;
  font-size: 110%;
  margin-bottom: 10px;
}

img {
  width: 100%;
}