* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.locationMainHeader {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  background-color: rgb(32, 30, 30);
}

.locationAndKarma {
  padding: 5px 0;
  font-weight: bold;
  position: relative;
}

.location {
  width: 100%;
  text-align: center;
}

.locationText {
  font-size: 140%;
}

.karma {
  top: 0;
  right: 0;
  height: 40px;
  display: flex;
  line-height: 15px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.karma p {
  text-align: center;
}

.karma small {
  font-size: 10px;
  text-align: center;
}

.active {
  left: 0;
  right: 0;
  top: 78px;
  display: none;
  position: fixed;
  padding: 5px 10px;
  background-color: rgb(32, 30, 30);
}

.inactive {
  left: 0;
  right: 0;
  top: 78px;
  display: block;
  position: fixed;
  padding: 5px 10px;
  background-color: rgb(32, 30, 30);
}

.locationDropdownMenuLocation {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.locationDropdownMenuLocation hr{
  width: 100%;
  margin-left: 20px;
}

.locationDropdownMenuInfo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.locationDropdownMenuSymbol {
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 10px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 39);
}

.locationDropdownMenuRange {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
}

.locationDropdownMenuRange hr{
  width: 100%;
  margin-left: 20px;
}

.locationDropdownRangeInfo span p{
  font-weight: bold;
  color: rgb(173, 173, 173);
}

.locationDropdownRangeInfo span small{
  font-size: small;
  color: rgb(173, 173, 173);
}