.notifsAndChatsMain {
  top: 100px;
  position: relative;
}

.notifsAndChatsMainAlarm {
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.notifsAndChatsMainHeader {
  left: 0;
  right: 0;
  top: 39px;
  height: 60px;
  position: fixed;
  background-color: rgb(32, 30, 30);
}

.notifsAndChatsMainHeader button{
  width: 50%;
  height: 100%;
  color: gray;
  font-size: large;
  font-weight: bold;
  border: 2px solid rgb(32, 30, 30);
}

.click {
  transition: 0.3s ;
  background-color: black;
  border-radius: 10px;
}

.nnclick {
  transition: 0.3s ;
  background-color: rgb(32, 30, 30);
}